/* Seite komplett ohne weiße Ränder */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  position: relative;
  min-height: 100vh;
}

img.background {
  height: 100vh;
  object-fit: cover;
}

img.knopf {
  height: 10vh;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.7rem;
  z-index: 5;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0.5rem;
  text-align: left;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: monospace;
  z-index: 2;
}

p {
  position: fixed;
  bottom: 2vh;
  margin: 0;
}


#nameDisplay {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 24px;
    
    display: none;
    z-index: 1000;
}

#popupOverlay {
    display: none;

    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.5);

    z-index: 2000;
}


#popupWindow {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}


#popupImage {
    display: block;
    max-height: 100vh;
    max-width: 100vw;
}


#popupText {
    position: absolute;
    font-family: monospace;
     top: 22%;
    left: 20%;
    width: 60%;

    color: black;
}

#popupDescription {
  position: static;
}
#popupDatum, #popuppreDatum{
  text-align: right; 
  position: static;
}

#popupPhoto, #popupVideo {
  top: 0%;
  width: 100%; 
  
  border-radius: 2vh;
  margin-bottom: 2vh;
}

a:link{
    color: #DE556C;

}

#closeButton {
    position: absolute;

    top: 15px;
    right: 15px;

    width: 2.5rem;
    cursor: pointer;
}
